In [1]:
import csv
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [6]:
# Set the URL of the paginated webpage that you want to scrape
url = "https://www.airlinequality.com/airline-reviews/british-airways"

# Setting the initial page number and the increment that you want to use to paginate through the webpage
page_num = 1
page_incr = 1
page_size = 100
# maximum number of pages to be scraped
max_pages = 50

# Initialize an empty list to store the data that you scrape
reviews  = []

# Set the URL of the webpage to be scraped 
paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

# A while loop to paginate through the webpage and scrape the data
while page_num <= max_pages:

    print(f"Scraping page {page_num}")

    # A GET request to the paginated URL
    response = requests.get(paginated_url)

    # Parsing the response using BeautifulSoup
    parsed_content = BeautifulSoup(response.text, "html.parser")

    # Finding all the elements on the page that contain the data to be scraped
    elements = parsed_content.find_all("div",class_ = "body")

    # Looping through the elements and extract the data that you want to scrape
    for element in elements:
        header = element.find("h2",class_ = "text_header").text.replace("\n", " ")
        sub_header = element.find("h3",class_ = "text_sub_header").text.replace("\n", " ")
        content = element.find("div",class_ = "text_content").text.replace("\n", " ")
        
        reviews.append([header,sub_header,content])

    # Increasing the page number and setting the paginated URL to the new page
    page_num += page_incr
    paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

    print(f"   ---> {len(reviews )} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews
Scraping page 36
   ---> 3529 total reviews
Scraping page 37
   ---> 3529 total reviews
Scraping page 38
   ---> 3529 total reviews
Scraping page 39
   ---> 3529 total reviews
Scraping page 40
   ---> 3529 total reviews
Scraping page 41
   ---> 3529 total reviews
Scraping page 42
   ---> 3529 total reviews
Scraping page 43
   ---> 3529 total reviews
Scraping page 44
   ---> 3529 total reviews
Scraping page 45
   ---> 3529 total reviews
Scraping page 46
   ---> 3529 total reviews
Scraping page 47
   ---> 3529 total reviews
Scraping page 48
   ---> 3529 total reviews
Scraping page 49
   ---> 3529 total reviews
Scraping page 50
   ---> 3529 total reviews

In [7]:
#Coverting the list data into a dataframe
df = pd.DataFrame(reviews)
df.columns = ["REVIEW","PERSONAL INFO","CONTENT"]

#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'\s*âœ… Trip Verified \|\s*'), '', inplace=True)
df

,REVIEW,PERSONAL INFO,CONTENT
0,"""trained to give you the runaround""",T Cayle (United States) 17th April 2023,Worst experience of my life trying to deal wit...
1,"""they only had one choice of meal""",1 reviews Andrew Pybus (Hong Kong) 17th A...,Due to code sharing with Cathay Pacific I was ...
2,"""relentless BA cost cutting""",M Edwards (United Kingdom) 16th April 2023,LHR check in was quick at the First Wing and q...
3,"""I wouldn't recommend British Airways""",Luis Rojas (United Kingdom) 15th April 2023,I wouldn't recommend British Airways at all. I...
4,"""Absolutely horrible experience""",C Maire (United States) 15th April 2023,Absolutely horrible experience. I booked a tic...
...,...,...,...
3524,British Airways customer review,J Robertson (United Kingdom) 29th August 2012,This was a bmi Regional operated flight on a R...
3525,British Airways customer review,Nick Berry (United Kingdom) 28th August 2012,LHR to HAM. Purser addresses all club passenge...
3526,British Airways customer review,Avril Barclay (United Kingdom) 12th October ...,My son who had worked for British Airways urge...
3527,British Airways customer review,C Volz (United States) 11th October 2011,London City-New York JFK via Shannon on A318 b...
3528,British Airways customer review,Russ King (United Kingdom) 9th October 2011,SIN-LHR BA12 B747-436 First Class. Old aircraf...

In [8]:
df.to_csv("BA_reviews.csv")

In [9]:
#Removing removing Contents and personal info
sentiment_analysis_df = df.drop(["REVIEW","PERSONAL INFO"], axis=1)
sentiment_analysis_df.replace(re.compile(r'\s*âœ… Verified Review \|\s*'), '', inplace=True)
sentiment_analysis_df

                                                CONTENT
0     Worst experience of my life trying to deal wit...
1     Due to code sharing with Cathay Pacific I was ...
2     LHR check in was quick at the First Wing and q...
3     I wouldn't recommend British Airways at all. I...
4     Absolutely horrible experience. I booked a tic...
...                                                 ...
3524  This was a bmi Regional operated flight on a R...
3525  LHR to HAM. Purser addresses all club passenge...
3526  My son who had worked for British Airways urge...
3527  London City-New York JFK via Shannon on A318 b...
3528  SIN-LHR BA12 B747-436 First Class. Old aircraf...

[3529 rows x 1 columns]

In [13]:
# Save the DataFrame to a CSV file
sentiment_analysis_df.to_csv("sentiment_content.csv")

In [16]:
sentiment_analysis_df.reset_index().to_csv("sentiment_content1.csv")